<h2>Consulta a Informação da Nota</h2>
<br>
<p><b>{{titulo}}</b></p>
<p>{{texto}}</p>
<p><b>Chave: </b>{{id}}</p>
<hr>

<div class="d-flex justify-content-center gap-2">
    <a href="/nota/deleta/{{id}}" class="btn btn-danger">Deletar</a> 
    <a href="/nota/altera/{{id}}" class="btn btn-success">Alterar</a>
</div>

<br><br><br>
<a href="/">Voltar</a>