{{#if notas}}
    <div class="row border p-1 bg-light">
        <div class="col-2 d-none d-md-block text-center">ID</div>
        <div class="col text-center">Título</div>
        <div class="col-2 d-none d-sm-block text-center">Alterar Status</div>
    </div>
    {{#each notas}}
        <div class="row border p-1">
            {{#if this.lida}}
                <div class="col-2 d-none d-md-block">{{this.id}}</div>
                <div class="col"><a href="/nota/consulta/{{this.id}}" class="limpo">{{this.titulo}}</a></div>
                <div class="col-2 d-none d-sm-block text-center"><a href="/nota/naolida/{{this.id}}" class="limpo"></a></div> 

            {{else}}
                <div class="col-2 d-nome d-md-block"><b>{{this.id}}</b></div>
                <div class="col"><b><a href="/nota/consulta/{{this.id}}" class="limpo">{{this.titulo}}</a></b></div>
                <div class="col-2 d-none d-sm-block text-center"><a href="/nota/lida/{{this.id}}" class="limpo"></a></div>
            {{/if}}
        </div>
        {{/each}}

    {{else}}
        {{#if pesquisa}}
            <br><br>
            <h4><i>Sem resultados para a pesquisa realizada.</i></h4>
        {{else}}
            <br><br>
            <h4><i>Ainda não há nenhuma nota cadastrada.</i></h4>
            <p><a href="/nota/cria">Cadastre a sua primeira nota.</a></p>
        {{/if}}
    {{/if}}













{{!-- 
<div class="container-fluid">
    {{!-- 1. Se NÃO houver notas, exibe a mensagem --}}
    {{#unless notas}}
    <div class="mt-5 text-center">
        <p>Ainda não há nenhuma nota cadastrada.</p>
        <a href="/nota/cria" class="btn btn-primary">Cadastre a sua primeira nota</a>
    </div>
    {{/unless}}

    {{!-- 2. Se HOUVER notas, exibe a tabela --}}
    {{#if notas}}
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                {{!-- 1. COLUNA CHAVE: Visível apenas em Telas Grandes (lg) e maiores --}}
                <th class="d-none d-lg-table-cell" style="width: 20%;">Chave</th>

                {{!-- 2. COLUNA TÍTULO: Visível em todas as telas (não precisa de classe de display, mas definimos
                largura fixa) --}}
                <th style="width: 60%;">Título</th>

                {{!-- 3. COLUNA MUDAR STATUS: Visível em Telas Médias (md) e maiores --}}
                <th class="d-none d-md-table-cell" style="width: 20%;">Mudar Status</th>
            </tr>
        </thead>

        <tbody>
            {{#each notas}}
            <tr>
                {{!-- 1. CÉLULA CHAVE (Oculta em SM e MD, Visível em LG) --}}
                <td class="d-none d-lg-table-cell">{{this.id}}</td>

                {{!-- 2. CÉLULA TÍTULO (Sempre Visível) --}}
                <td class="text-start">
                    <a href="/nota/consulta/{{this.id}}">{{this.titulo}}</a>
                </td>

                {{!-- 3. CÉLULA MUDAR STATUS (Oculta em SM, Visível em MD e LG) --}}
                <td class="d-none d-md-table-cell">
                    <a href="/nota/mudaStatus/{{this.id}}" title="Mudar Status">
                        {{#if (eq this.status 'lida')}}
                        <i class="bi bi-envelope-open-fill text-secondary"></i>
                        {{else}}
                        <i class="bi bi-envelope-fill text-primary"></i>
                        {{/if}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div> --}}